.body {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
}

.header {

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "menu logo adress";
    padding: 92px 24px 96px 24px;
    margin: 0 auto;
    overflow-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    



}

.header__menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 27px;
   

   
   

}
.header__links-list {
    display: flex;
    text-transform: lowercase;
    gap: 30px;
    font-size: 18px;
    font-family: Raleway;
    
   

 }
 .header__links-list-item_no-bullit {
    list-style: none;
 }
 .header__link_active {

 }
 .header__link {
    
 }
.header__logo {
    grid-area: logo;
    display: block;
    
    
    
}
.header__logo-image {
    Width: 148px;
    height: 105px;

    
    
}

.address {
    grid-area: adress;
    display: inline;
    justify-self: end;
    padding-right: 27px;
    font-family: Raleway;
    font-size: 18px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 1100px;
    height: 757px;
}
.cover__title{
    padding: 165px 50px;
    margin: 0 auto;
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 115px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 0;
    
}
.aligned-text {
    display: block;
    letter-spacing: 0.4em;
    line-height: 115px;

}
.aligned-text__center{
    display: block;
    text-align: center;
    line-height: 120px;
    letter-spacing: 0.3em;
}
.aligned-text__right{
    display: block;
    text-align: end;
    justify-self: end;
    letter-spacing: 0.2em;

}

.letter-spacing-extended {
    letter-spacing: 60px;
}
.no-latter-spacing {
    letter-spacing: 0;
}
.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cover__descriptoin-text {
    text-transform: uppercase;
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 20px;
    line-height: 28px;
    color: white;
    z-index: 2;
    padding: 147px 79px 62px 78px;
}