.body {
box-sizing: border-box;
max-width: 1100px;
margin: 0 auto;
}

.header {

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "menu logo adress";
    padding: 92px 24px;
    margin: 0 auto;
    overflow-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    



}

.header__menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 27px;
   

   
   

}
.header__links-list {
    display: flex;
    text-transform: lowercase;
    gap: 30px;
    font-size: 18px;
    font-family: Raleway;
    
   

 }
 .header__links-list-item_no-bullit {
    list-style: none;
 }
 .header__link_active {

 }
 .header__link {
    
 }
.header__logo {
    grid-area: logo;
    display: block;
    
    
    
}
.header__logo-image {
    Width: 148px;
    height: 105px;

    
    
}

.address {
    grid-area: adress;
    display: inline;
    justify-self: end;
    padding-right: 27px;
    font-family: Raleway;
    font-size: 18px;
}
