.content_section{
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;


}
.header {
    padding: 92px, 24px, 96px, 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: circle;
}
.header__logo {
    display: block;
    width: 78px;
 
}
.header__logo-image {
    width: 100%;
}
.header__menu-list {
   display: flex;
   flex-direction: column; 
}
.header__menu-link {
    display: flex;
}
.address {
    display: inline;

}
